.signup {
  margin-top: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupForm {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

input:focus {
  border: 1px solid #000;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  background-color: #03001c;
  color: white;
}

button:hover {
  opacity: 0.9;
}

.backButton {
  position: absolute;
  top: 80px;
  left: 5%;
  font-size: 42px;
}
